nav.bg-topbar {
	/*background-color: rgba(15, 15, 15, 0.75);*/
	background-color: rgba(20, 20, 20, 0.75);
}

footer.bg-foobar {
	background-color: rgba(75, 75, 75, 0.75);
}

main {
	margin-bottom: 80px;
}
