
a {
	color: rgba(230, 123, 0, 1);
	
	outline: none; /* Firefox, Google Chrome */
	behavior:expression(this.onFocus=this.blur()); /* IE */
}

a:hover {
	color: rgba(193, 110, 15, 1);
	text-decoration: none;
}


.breadcrumb {
	margin-top: 10px;
	background-color: rgba(75, 75, 75, 0.75);
}


.highlighter-rouge code {
	background-color: rgba(20, 20, 20, 0.75);
}

.highlight pre {
	background-color: rgba(20, 20, 20, 0.75);
}

.highlight .hll {
	background-color: rgba(20, 20, 20, 0.75);
}

.highlight .err {
	background-color: rgba(20, 20, 20, 0.75);
}
